#import "../../fragments/BasePageFields.graphql"

query <%operationName%>($link: String!, $stage: VersionedQueryMode) {
  <%queryName%>(link: $link, versioning: { mode: $stage }) {
    ...BasePageFields
    <%selectedFields%>
  }
}